html, body {
    overflow-x: hidden;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
}

$breakpoints: (
    "mobile-xs": 400px,
    "mobile-sm": 500px,
    "mobile": 800px,
    "tablet": 1224px,
    "laptop": 1440px
);
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

$font-1: 'Fjalla One', sans-serif;
$font-2: 'Sanchez', serif;
$font-3: 'Nunito Sans', sans-serif;

$color-1: #172483;
$color-2: #ff5b02;
$color-3 : #142a40;

$spc: 1rem;

h1,h2,h3 {
    margin: 0;
    margin-bottom: $spc * 2; 
}
h1, h2 {
    font-family: $font-1;
    color: $color-3;
    font-weight: 400;
}
h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin-bottom: $spc * 2.5; 
    font-size: 38px;
    letter-spacing: 2.75px;

    @include mq('mobile') {
        font-size: 30px;
    }
}
h2 {
    font-size: 24px;
    letter-spacing: 1.7px;

    @include mq('mobile') {
        font-size: 20px;
    }
}
h3 {
    font-family: $font-3;
    font-size: 18px;
    color: #FFBE13;
}
p {
    font-family: $font-2;
    font-size: 16px;
    margin: 0;
    line-height: 1.75;
    letter-spacing: 0.4px;

    @include mq('mobile') {
        font-size: 14px;
    }
}
a {
    font-family: $font-3;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #959FAA;

    @include mq('mobile') {
        font-size: 13px;
    }

    &.active {
        color: $color-3;
        font-weight: 700;
    }
}

.button {
    padding: $spc * 1.7 $spc * 3;
    text-transform: uppercase;
    text-align: center;
    border: solid 1px #EFCC72;
    color: #242529;

    transition: background-color .4s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;

    @include mq('mobile-sm') {
        padding: $spc * 1;
        font-size: 12px;
    }

    &:hover {
        color: #242529;
        background-color: #FDF3D0;
        border: 1px solid #EFCC72;
    }
    &:active {
        border: 1px solid #FFBE13;
        background-color: #FFBE13;
    }
}

ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding: ($spc * 5) 0;

    li {
        padding-right: $spc * 5;
        position: relative;

        &:last-child {
            padding-right: 0;
        }
    }
}

.nav {
    width: 1160px;
    align-items: center;
    align-self: center;
    padding-bottom: $spc * 5;

    @include mq('tablet') {
        flex-direction: column;
        align-items: center;
    }
    @include mq('mobile-xs') {
        padding: 20px 0 0 0;
    }

    &.nav-links-active {
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5) {
            opacity: 1;
            height: 20px;
            transform: translateY(30px);
            pointer-events: all;
        }
    }

    li {
        transition: transform .6s ease-in-out, height .6s ease-in-out, opacity .6s ease-in-out;

        @include mq('tablet') {
            margin: 0;
            padding: ($spc / 2) 0;

            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
                opacity: 0;
                height: 0;
                pointer-events: none;
            }
        }

        &:nth-child(1) {
            a {
                display: block;

                img {
                    height: 40px;
                }
            }
        }
        &:nth-child(3) {
            margin-left: auto;

            @include mq("tablet") {
                margin: 0;
            }
        }

        &.burger {
            height: 25px;
            flex-direction: column;
            justify-content: space-between;
            display: none;
            
            @include mq('tablet') {
                display: flex;
            }
    
            span {
                height: 1px;
                display: block;
                background-color: $color-1;
                transform-origin: center center;
                transition: all .3s ease-in-out;

                &:nth-child(1) {
                    transform: translateY(0);
                    width: 30px;
                }

                &:nth-of-type(3) {
                    width: 20px;
                }

                &:nth-of-type(2) {
                    width: 30px;
                }
                
                &:nth-of-type(4) {
                    width: 15px;
                    transform: translateY(0);
                }
            }

            &.active {
                span:nth-child(1) {
                    transform: translateY(13px) rotate(45deg);
                    width: 33px;
                    height: 2px;
                    background-color: $color-2;
                }

                span:nth-of-type(3) {
                    opacity: 0;
                    visibility: hidden;
                }

                span:nth-of-type(2) {
                    opacity: 0;
                    visibility: hidden;
                }
                
                span:nth-of-type(4) {
                    transform: translateY(-11px) rotate(-45deg);
                    width: 33px;
                    height: 2px;
                    background-color: $color-2;
                }
            }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
            a {
                &:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    left: 0;
                    bottom: -2px;
                    background-color: $color-1;
                    transition: width .3s ease-in-out;
    
                }
                
                &:hover {
                    &:after {
                        width: 30px;
                    }    
                }
            }
        }
    }
}

section {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    
    @include mq('tablet') {
        padding: 0 30px;
        box-sizing: border-box;
    }
    
    .content {
        max-width: 1160px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: ($spc * 7.5) 0;
        
        @include mq('mobile') {
            padding : 0;
        }
    }
}

.column {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;

    @include mq('mobile') {
        width: 100%;
    }
}

.col-2 {
    @extend .column;
    width: calc(50% - 15px);

    @include mq('mobile') {
        width: 100%;       
    }
}

.row {
    display: flex;
}

.row_reverse {
    @extend .row;
    flex-direction: row-reverse;

    @include mq('mobile') {
        flex-direction: column;
    }
}

#home {
    background-image: url(../images/home-background.png);
    background-position: right 200px;
    background-repeat: no-repeat;

    @include mq('laptop') {
        background-position: right 160px;
        background-size: 40%;
    }
    @include mq('mobile') {
        background-position: right 21%;
        background-size: 45%;
        background-image: none;
    }
    
    #projects {
        .row:nth-of-type(1) {
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: $spc * 5;
        }
    }

    .content:nth-of-type(1) {
        height: 85vh;
        flex-direction: row;
        padding: 0;

        @include mq('laptop') {
            height: 80vh;
            margin-top: $spc * 4;
        }
        @include mq('mobile-sm') {
            margin-top: 0;
        }

        .header {
            margin-top: 15%;

            @include mq('laptop') {
                margin-top: 5%;
            }
            @include mq('mobile') {
                margin-top: $spc * 4;
            }
            @include mq('mobile-sm') {
                margin-top: 0;
            }

            .column {
                width: 40%;
    
                @include mq('laptop') {
                    padding: 0;
                }
                @include mq('mobile') {
                    width: 100%;
                }
        
                h1 {
                    line-height: 1.4;
                    letter-spacing: 4px;
                    padding-top: 1rem;
                    justify-content: center;
    
                    span {
                        color: #EBEFF2;
                    }
                }

                p {
                    color: #142a40;
                }
            }
        }

        .footer-nav {
            width: 100%;
            margin-top: auto;
            margin-bottom: $spc * 7.5;
            padding-bottom: 0;
            
            li {
                height: 100%;

                &:first-of-type {
                    margin-right: auto;
                    span {
                        width: 20px;
                        height: 2px;
                        background-color: #d3d8df;
                    }
                }

                a, p {
                    transition: color .4s ease-in-out;
                    color: #d3d8df;

                    &:hover {
                        color: $color-1;
                    }
                }
            }
        }
    }
}

#about {
    flex-flow: row wrap;
    padding-top: $spc * 5;
    
    .introduction {
        justify-content: space-between;
        margin-bottom: $spc * 15;

        @include mq('mobile') {
            width: 100%;
            flex-direction: column;
        }

        .profile-image {
            width: 40%;
            height: 100%;
            
            @include mq('mobile') {
                width: 100%;
                height: auto;
                order: 2;
                padding: $spc * 3 0;
            }
        }
        .col-2 {
            @include mq('mobile') {
                order: 1;
            }
           
            &:nth-of-type(2) {
                color: #3f5163;
            } 
        }
    }


    ul {
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0;
        padding: ($spc * 2.5) 0 ($spc * 5) 0;

        
        li {
            width: calc(50% - 15px);
            padding: 0;
            margin: ($spc * 2.5) 0;
            
            @include mq('mobile') {
                width: 100%;    
            }

            p {
                color: #959faa;
            }
        }
    }

    .testimonial {
        align-items: center;
        text-align: center;
        padding: 50px 0;
        margin: ($spc * 5) 0 ($spc * 5) 0;
    
        @include mq("mobile") {
            padding: 50px 30px 50px 30px;
        }
    
        p {
            &:first-child {
                width: 60%;
                position: relative;
                padding-bottom: 50px;
    
                @include mq("mobile") {
                    width: 100%;
                }
    
                &:after {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 2px;
                    left: calc(50% - 20px);
                    bottom: 25px;
                    background-color: #FFBE13;
                }
            }
            &:nth-child(3) {
                opacity: 0.4;
            }
        }
    }

    .skillset {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: ($spc * 5);

        ul {
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                flex: 1;
                margin: 0;
                
                p {
                    color: #60707e;
                }
            }
        }

        h1 {
            flex: 1 0 100%;
        }

    }
}

#projects {
    .page-heading {
        p {
            color: #3f5163;
        }
    }

    .project-item {
        justify-content: space-between;
        padding: $spc * 5 0;
        
        @include mq('tablet') {
            flex-direction: column;
        }

        ~ .row_reverse {
            display: flex;

            .project-item_description {
                padding-right: $spc * 3;
                padding-top: 0;
                padding-left: 0;

                @include mq('mobile') {
                    padding-left: $spc * 3;
                    padding-top: $spc * 5;
                }
            }
        }

        &:last-of-type {
            padding-bottom: 0;
        }

        img {
            //width: 760px;
            height: 500px;

            @include mq('tablet') {
                width: 100%;
                height: 100%;
            } 
        }

        .project-item_description {
            padding-left: $spc * 3;
            padding-top: 0;
            justify-content: center;
            
            @include mq('tablet') {
                padding-left: $spc * 3;
                padding-top: $spc * 5;
                padding-right: 0;
            }


            p {
                color: #959faa;
            }
            
            .button {
                margin-top: $spc * 5;
                align-self: flex-start;
            }

            .button_fade {
                cursor: pointer;
                border-color: #d3d8df;

                &:hover {
                    border: 1px solid #6C7379;
                    background-color: #EFF0F2;
                }
                &:active {
                    background-color: #60707F;
                    border: 1px solid #60707F;
                    color: white;
                }
            }
        }
    }
    
    .project-item_vertical {
        justify-content: space-between;

        @include mq('mobile') {
            flex-direction: column;
        }

        .project-item {
            width: calc(50% - 15px);
            padding-bottom: 0;

            @include mq('mobile') {
                width: 100%;
            }
            
            .project-item_image {

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .project-item_description {
                padding-top: $spc * 5;
            }
        }
    }

    //Case stufy page additional

    .case-study_header-image {
        width: 100%;
    }

    .conclusion {
        background-color: #fbfbfb;

        .content {
            flex-flow: row-reverse nowrap;

            @include mq('mobile') {
                flex-direction: column;
            }

            .project-item_description {
                padding-right: $spc * 3;
                padding-left: 0;

                @include mq('tablet') {
                    padding: 0 $spc * 3;
                }
                @include mq('tablet') {
                    padding: $spc * 3;
                }
                
                p {
                    margin-bottom: $spc * 2;
                }
            }
        }
    }
}

#case-study {

    .col-2 {
        @include mq('mobile') {
            padding-top: $spc * 3;
        }
    }

    .challenge {
        padding: $spc * 5 $spc * 3;

        p {
            color: #959faa;
        }
    }

    .case-study_description {
        justify-content: space-between;

        @include mq('mobile') {
            flex-direction: column;
        }
        
        li {
            display: flex;
            
            h2 {
                padding-right: $spc * 2.5;
            }
        }
    }

    .project-item {
        
        ~ .image-descriptions {
            text-align: center;

            img {
                width: 100%;
                height: 100%;
                display: block;

                &:not(:last-child) {
                    margin-bottom: $spc * 5;
                }
            }
        }
        
        .column {
            p {
                padding-bottom: $spc * 2;
            }   
        }
    }
}

footer, .testimonial {
    background-color: $color-1;
    color: white;

    h1, p, a {
        color: white;
    }
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: $spc * 5;

    @include mq('tablet') {
        padding: 0 $spc * 3;
        font-size: 26px;
    }

    .content {
        max-width: 1160px;


        h1 {
            font-size: 38px;
            line-height: 1.4;
            letter-spacing: 2.7px;
            width: 52%;
            margin: ($spc * 5) 0;

            @include mq('mobile') {
                width: 100%;
                font-size: 26px;
            }

            a {
                @extend h1;
                color: #FFBE13;
            }
        }

        .footer-nav {
            li {
                a {
                    color: white;

                    &:after {
                        background-color: white;
                    }
                    
                    &:hover {
                        transition: background-color .3s ease-in-out;

                        &:after {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}
.footer-nav {
    @include mq ('mobile') {
        flex-direction: column;
    }

    li {
        @include mq('mobile') {
            padding-bottom: $spc / 2;
        }

        &:nth-child(2) {
            margin-left: auto;

            @include mq("tablet") {
                margin: 0;
            }
        }

        a {            
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                left: 0;
                bottom: -2px;
                background-color: $color-1;
                transition: width .3s ease-in-out;

            }
            &:hover {                
                &:after {
                    width: 30px;
                }
            }
        }

        p {
            line-height: 1;
            text-transform: uppercase;
            font-family: $font-3;
        }
    }
}