html, body {
  overflow-x: hidden; }

html {
  font-size: 10px; }

body {
  margin: 0; }

h1, footer .content h1 a, h2, h3 {
  margin: 0;
  margin-bottom: 2rem; }

h1, footer .content h1 a, h2 {
  font-family: "Fjalla One", sans-serif;
  color: #142a40;
  font-weight: 400; }

h1, footer .content h1 a, h2, h3 {
  text-transform: uppercase; }

h1, footer .content h1 a {
  margin-bottom: 2.5rem;
  font-size: 38px;
  letter-spacing: 2.75px; }
  @media only screen and (max-width: 799px) {
    h1, footer .content h1 a {
      font-size: 30px; } }

h2 {
  font-size: 24px;
  letter-spacing: 1.7px; }
  @media only screen and (max-width: 799px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #ff5b02; }

p {
  font-family: "Sanchez", serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.75;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 799px) {
    p {
      font-size: 14px; } }

a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #959FAA; }
  @media only screen and (max-width: 799px) {
    a {
      font-size: 13px; } }
  a.active {
    color: #142a40;
    font-weight: 700; }

.button {
  padding: 1.7rem 3rem;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px #EFCC72;
  color: #242529;
  transition: background-color .4s ease-in-out, color .4s ease-in-out, border .4s ease-in-out; }
  @media only screen and (max-width: 499px) {
    .button {
      padding: 1rem;
      font-size: 12px; } }
  .button:hover {
    color: #242529;
    background-color: #FDF3D0;
    border: 1px solid #EFCC72; }
  .button:active {
    border: 1px solid #FFBE13;
    background-color: #FFBE13; }

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 5rem 0; }
  ul li {
    padding-right: 5rem;
    position: relative; }
    ul li:last-child {
      padding-right: 0; }

.nav {
  width: 1160px;
  align-items: center;
  align-self: center;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 1223px) {
    .nav {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 399px) {
    .nav {
      padding: 20px 0 0 0; } }
  .nav.nav-links-active li:nth-child(3),
  .nav.nav-links-active li:nth-child(4),
  .nav.nav-links-active li:nth-child(5) {
    opacity: 1;
    height: 20px;
    transform: translateY(30px);
    pointer-events: all; }
  .nav li {
    transition: transform .6s ease-in-out, height .6s ease-in-out, opacity .6s ease-in-out; }
    @media only screen and (max-width: 1223px) {
      .nav li {
        margin: 0;
        padding: 0.5rem 0; }
        .nav li:nth-of-type(3), .nav li:nth-of-type(4), .nav li:nth-of-type(5) {
          opacity: 0;
          height: 0;
          pointer-events: none; } }
    .nav li:nth-child(1) a {
      display: block; }
      .nav li:nth-child(1) a img {
        height: 40px; }
    .nav li:nth-child(3) {
      margin-left: auto; }
      @media only screen and (max-width: 1223px) {
        .nav li:nth-child(3) {
          margin: 0; } }
    .nav li.burger {
      height: 25px;
      flex-direction: column;
      justify-content: space-between;
      display: none; }
      @media only screen and (max-width: 1223px) {
        .nav li.burger {
          display: flex; } }
      .nav li.burger span {
        height: 1px;
        display: block;
        background-color: #172483;
        transform-origin: center center;
        transition: all .3s ease-in-out; }
        .nav li.burger span:nth-child(1) {
          transform: translateY(0);
          width: 30px; }
        .nav li.burger span:nth-of-type(3) {
          width: 20px; }
        .nav li.burger span:nth-of-type(2) {
          width: 30px; }
        .nav li.burger span:nth-of-type(4) {
          width: 15px;
          transform: translateY(0); }
      .nav li.burger.active span:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
        width: 33px;
        height: 2px;
        background-color: #ff5b02; }
      .nav li.burger.active span:nth-of-type(3) {
        opacity: 0;
        visibility: hidden; }
      .nav li.burger.active span:nth-of-type(2) {
        opacity: 0;
        visibility: hidden; }
      .nav li.burger.active span:nth-of-type(4) {
        transform: translateY(-11px) rotate(-45deg);
        width: 33px;
        height: 2px;
        background-color: #ff5b02; }
    .nav li:nth-of-type(3) a:after, .nav li:nth-of-type(4) a:after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      left: 0;
      bottom: -2px;
      background-color: #172483;
      transition: width .3s ease-in-out; }
    .nav li:nth-of-type(3) a:hover:after, .nav li:nth-of-type(4) a:hover:after {
      width: 30px; }

section {
  height: 100%;
  display: flex;
  flex-flow: column nowrap; }
  @media only screen and (max-width: 1223px) {
    section {
      padding: 0 30px;
      box-sizing: border-box; } }
  section .content {
    max-width: 1160px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5rem 0; }
    @media only screen and (max-width: 799px) {
      section .content {
        padding: 0; } }

.column, .col-2 {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap; }
  @media only screen and (max-width: 799px) {
    .column, .col-2 {
      width: 100%; } }

.col-2 {
  width: calc(50% - 15px); }
  @media only screen and (max-width: 799px) {
    .col-2 {
      width: 100%; } }

.row, .row_reverse {
  display: flex; }

.row_reverse {
  flex-direction: row-reverse; }
  @media only screen and (max-width: 799px) {
    .row_reverse {
      flex-direction: column; } }

#home {
  background-image: url(../images/home-background.png);
  background-position: right 200px;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1439px) {
    #home {
      background-position: right 160px;
      background-size: 40%; } }
  @media only screen and (max-width: 799px) {
    #home {
      background-position: right 21%;
      background-size: 45%;
      background-image: none; } }
  #home #projects .row:nth-of-type(1), #home #projects .row_reverse:nth-of-type(1) {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5rem; }
  #home .content:nth-of-type(1) {
    height: 85vh;
    flex-direction: row;
    padding: 0; }
    @media only screen and (max-width: 1439px) {
      #home .content:nth-of-type(1) {
        height: 80vh;
        margin-top: 4rem; } }
    @media only screen and (max-width: 499px) {
      #home .content:nth-of-type(1) {
        margin-top: 0; } }
    #home .content:nth-of-type(1) .header {
      margin-top: 15%; }
      @media only screen and (max-width: 1439px) {
        #home .content:nth-of-type(1) .header {
          margin-top: 5%; } }
      @media only screen and (max-width: 799px) {
        #home .content:nth-of-type(1) .header {
          margin-top: 4rem; } }
      @media only screen and (max-width: 499px) {
        #home .content:nth-of-type(1) .header {
          margin-top: 0; } }
      #home .content:nth-of-type(1) .header .column, #home .content:nth-of-type(1) .header .col-2 {
        width: 40%; }
        @media only screen and (max-width: 1439px) {
          #home .content:nth-of-type(1) .header .column, #home .content:nth-of-type(1) .header .col-2 {
            padding: 0; } }
        @media only screen and (max-width: 799px) {
          #home .content:nth-of-type(1) .header .column, #home .content:nth-of-type(1) .header .col-2 {
            width: 100%; } }
        #home .content:nth-of-type(1) .header .column h1, #home .content:nth-of-type(1) .header .col-2 h1, #home footer .content:nth-of-type(1) .header .column h1 a, footer #home .content:nth-of-type(1) .header .column h1 a, #home footer .content:nth-of-type(1) h1 .header .column a, footer #home .content:nth-of-type(1) h1 .header .column a, #home footer .content:nth-of-type(1) .header .col-2 h1 a, footer #home .content:nth-of-type(1) .header .col-2 h1 a, #home footer .content:nth-of-type(1) h1 .header .col-2 a, footer #home .content:nth-of-type(1) h1 .header .col-2 a {
          line-height: 1.4;
          letter-spacing: 4px; }
          #home .content:nth-of-type(1) .header .column h1 span, #home .content:nth-of-type(1) .header .col-2 h1 span, #home footer .content:nth-of-type(1) h1 .header .column a span, footer #home .content:nth-of-type(1) h1 .header .column a span, #home footer .content:nth-of-type(1) h1 .header .col-2 a span, footer #home .content:nth-of-type(1) h1 .header .col-2 a span {
            color: #EBEFF2; }
        #home .content:nth-of-type(1) .header .column p, #home .content:nth-of-type(1) .header .col-2 p {
          color: #142a40; }
    #home .content:nth-of-type(1) .footer-nav {
      width: 100%;
      margin-top: auto;
      margin-bottom: 7.5rem;
      padding-bottom: 0; }
      #home .content:nth-of-type(1) .footer-nav li {
        height: 100%; }
        #home .content:nth-of-type(1) .footer-nav li:first-of-type {
          margin-right: auto; }
          #home .content:nth-of-type(1) .footer-nav li:first-of-type span {
            width: 20px;
            height: 2px;
            background-color: #d3d8df; }
        #home .content:nth-of-type(1) .footer-nav li a, #home .content:nth-of-type(1) .footer-nav li p {
          transition: color .4s ease-in-out;
          color: #d3d8df; }
          #home .content:nth-of-type(1) .footer-nav li a:hover, #home .content:nth-of-type(1) .footer-nav li p:hover {
            color: #172483; }

#about {
  flex-flow: row wrap;
  padding-top: 5rem; }
  #about .introduction {
    justify-content: space-between;
    margin-bottom: 15rem; }
    @media only screen and (max-width: 799px) {
      #about .introduction {
        width: 100%;
        flex-direction: column; } }
    #about .introduction .profile-image {
      width: 40%;
      height: 100%; }
      @media only screen and (max-width: 799px) {
        #about .introduction .profile-image {
          width: 100%;
          order: 2;
          padding: 3rem 0; } }
    @media only screen and (max-width: 799px) {
      #about .introduction .col-2 {
        order: 1; } }
    #about .introduction .col-2:nth-of-type(2) {
      color: #3f5163; }
  #about ul {
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 2.5rem 0 5rem 0; }
    #about ul li {
      width: calc(50% - 15px);
      padding: 0;
      margin: 2.5rem 0; }
      @media only screen and (max-width: 799px) {
        #about ul li {
          width: 100%; } }
      #about ul li p {
        color: #959faa; }
  #about .testimonial {
    align-items: center;
    text-align: center;
    padding: 50px 0;
    margin: 5rem 0 5rem 0; }
    @media only screen and (max-width: 799px) {
      #about .testimonial {
        padding: 50px 30px 50px 30px; } }
    #about .testimonial p:first-child {
      width: 60%;
      position: relative;
      padding-bottom: 50px; }
      @media only screen and (max-width: 799px) {
        #about .testimonial p:first-child {
          width: 100%; } }
      #about .testimonial p:first-child:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 2px;
        left: calc(50% - 20px);
        bottom: 25px;
        background-color: #ff6400; }
    #about .testimonial p:nth-child(3) {
      opacity: 0.4; }
  #about .skillset {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem; }
    #about .skillset ul {
      width: 100%;
      padding: 0;
      margin: 0; }
      #about .skillset ul li {
        flex: 1;
        margin: 0; }
        #about .skillset ul li p {
          color: #60707e; }
    #about .skillset h1, #about .skillset footer .content h1 a, footer .content h1 #about .skillset a {
      flex: 1 0 100%; }

#projects .page-heading p {
  color: #3f5163; }
#projects .project-item {
  justify-content: space-between;
  padding: 5rem 0; }
  @media only screen and (max-width: 1223px) {
    #projects .project-item {
      flex-direction: column; } }
  #projects .project-item ~ .row_reverse {
    display: flex; }
    #projects .project-item ~ .row_reverse .project-item_description {
      padding-right: 3rem;
      padding-left: 0; }
  #projects .project-item:last-of-type {
    padding-bottom: 0; }
  #projects .project-item img {
    height: 500px; }
    @media only screen and (max-width: 1223px) {
      #projects .project-item img {
        width: 100%;
        height: 100%; } }
  #projects .project-item .project-item_description {
    padding-left: 3rem;
    padding-top: 1rem; }
    #projects .project-item .project-item_description p {
      color: #959faa; }
    #projects .project-item .project-item_description .button {
      margin-top: 5rem;
      align-self: flex-start; }
    #projects .project-item .project-item_description .button_fade {
      cursor: pointer;
      border-color: #d3d8df; }
      #projects .project-item .project-item_description .button_fade:hover {
        border: 1px solid #6C7379;
        background-color: #EFF0F2; }
      #projects .project-item .project-item_description .button_fade:active {
        background-color: #60707F;
        border: 1px solid #60707F;
        color: white; }
#projects .project-item_vertical {
  justify-content: space-between; }
  @media only screen and (max-width: 799px) {
    #projects .project-item_vertical {
      flex-direction: column; } }
  #projects .project-item_vertical .project-item {
    width: calc(50% - 15px);
    padding-bottom: 0; }
    @media only screen and (max-width: 799px) {
      #projects .project-item_vertical .project-item {
        width: 100%; } }
    #projects .project-item_vertical .project-item .project-item_image img {
      width: 100%;
      height: 100%; }
    #projects .project-item_vertical .project-item .project-item_description {
      padding-top: 5rem; }
#projects .case-study_header-image {
  width: 100%; }
#projects .conclusion {
  background-color: #fbfbfb; }
  #projects .conclusion .content {
    flex-flow: row-reverse nowrap; }
    @media only screen and (max-width: 799px) {
      #projects .conclusion .content {
        flex-direction: column; } }
    #projects .conclusion .content .project-item_description {
      padding-right: 3rem;
      padding-left: 0; }
      @media only screen and (max-width: 1223px) {
        #projects .conclusion .content .project-item_description {
          padding: 0 3rem; } }
      @media only screen and (max-width: 1223px) {
        #projects .conclusion .content .project-item_description {
          padding: 3rem; } }
      #projects .conclusion .content .project-item_description p {
        margin-bottom: 2rem; }

@media only screen and (max-width: 799px) {
  #case-study .col-2 {
    padding-top: 3rem; } }
#case-study .challenge {
  padding: 5rem 3rem; }
  #case-study .challenge p {
    color: #959faa; }
#case-study .case-study_description {
  justify-content: space-between; }
  @media only screen and (max-width: 799px) {
    #case-study .case-study_description {
      flex-direction: column; } }
  #case-study .case-study_description li {
    display: flex; }
    #case-study .case-study_description li h2 {
      padding-right: 2.5rem; }
#case-study .project-item ~ .image-descriptions {
  text-align: center; }
  #case-study .project-item ~ .image-descriptions img {
    width: 100%;
    height: 100%;
    display: block; }
    #case-study .project-item ~ .image-descriptions img:not(:last-child) {
      margin-bottom: 5rem; }
#case-study .project-item .column p, #case-study .project-item .col-2 p {
  padding-bottom: 2rem; }

footer, .testimonial {
  background-color: #172483;
  color: white; }
  footer h1, footer .content h1 a, footer p, footer a, .testimonial h1, .testimonial footer .content h1 a, footer .content h1 .testimonial a, .testimonial p, .testimonial a {
    color: white; }

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem; }
  @media only screen and (max-width: 1223px) {
    footer {
      padding: 0 3rem;
      font-size: 26px; } }
  footer .content {
    max-width: 1160px; }
    footer .content h1, footer .content h1 a {
      font-size: 38px;
      line-height: 1.4;
      letter-spacing: 2.7px;
      width: 52%;
      margin: 5rem 0; }
      @media only screen and (max-width: 799px) {
        footer .content h1, footer .content h1 a {
          width: 100%;
          font-size: 26px; } }
      footer .content h1 a {
        color: #ff5b02; }
    footer .content .footer-nav li a {
      color: white; }
      footer .content .footer-nav li a:after {
        background-color: white; }
      footer .content .footer-nav li a:hover {
        transition: background-color .3s ease-in-out; }
        footer .content .footer-nav li a:hover:after {
          background-color: white; }

@media only screen and (max-width: 799px) {
  .footer-nav {
    flex-direction: column; } }
@media only screen and (max-width: 799px) {
  .footer-nav li {
    padding-bottom: 0.5rem; } }
.footer-nav li:nth-child(2) {
  margin-left: auto; }
  @media only screen and (max-width: 1223px) {
    .footer-nav li:nth-child(2) {
      margin: 0; } }
.footer-nav li a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #172483;
  transition: width .3s ease-in-out; }
.footer-nav li a:hover:after {
  width: 30px; }
.footer-nav li p {
  line-height: 1;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif; }

/*# sourceMappingURL=style.css.map */
